<a href="https://colab.research.google.com/github/AayushTalekar/AI/blob/master/CW/CW_J054_04072020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#list
a = [1, 2, 3, 4, 5, 'human']
#tuple
a = (1, 2, 3, 4, 5, 'human')
#set
a = {1, 2, 3, 4, 5, 'human'}
#dictionary
a = {
    'list' :  [1, 2, 3, 4, 5, 'human'],
    'tuple' : (1, 2, 3, 4, 5, 'human'),
    'set' : {1, 2, 3, 4, 5, 'human'}   
}

#Properties of a set

In [2]:
# set of sets
b = {{1, 2, 3, 4, 5, 'human'], 
     {1, 2, 3, 4, 5, 'human'}}

TypeError: ignored

Set of sets is not possible



---



---

In [3]:
#set of lists
b = {[1, 2, 3, 4, 5, 'human'], 
     [1, 2, 3, 4, 5, 'human']}

TypeError: ignored

Set of Lists is not possible



---



---

In [4]:
# set of tuples
b = {
    (1, 2, 3, 4, 5, 'human'),
     (1,2)
}

Set of tuples is possible



---



---

In [5]:
c = {1, 2, 2, 3}
c

{1, 2, 3}

Sets do not contain duplicate values



---



---

In [8]:
d = {}
e = set()

In [9]:
d

{}

In [10]:
e

set()

Empty set can be called only with the set() function



---



---

In [11]:
f = {1, 2, 'Three', '4', 5}
len(f)

5

len() function can be used to get the length of a set

---



---

In [12]:
g = {1, 2, 3, 4, 5}
g[1]

TypeError: ignored

Set does not support indexing. Sets are unordered

---



---

In [13]:
h = {1, 2, 3, 4, 'five'}
i = {'six', 7, 8, 9}
h|i

{1, 2, 3, 4, 7, 8, 9, 'five', 'six'}

Union of sets using | operator

In [14]:
h.union(i)

{1, 2, 3, 4, 7, 8, 9, 'five', 'six'}

Union of sets using .union() function

---



---

In [19]:
i = {1, 3, 4, 5}
i.clear()
i

set()

.clear() removes all elements of a set

---



---

In [23]:
j = {1, 2, 3, 4}
j.add('five')
j

{1, 2, 3, 4, 'five'}

single element can be added to a set using .add()

---



---

In [25]:
k = {1, 2, 3, 4, 'five', '6'}
k.remove('6')
k

{1, 2, 3, 4, 'five'}

single element can be removed using .remove()

---



---

In [17]:
b = {1, 2, 3, 4, 5, 6}
b.pop()

1

In [28]:
c = {'one', 'three', 'eleven', 'Hi'}
c.pop()

'three'

.pop() removes and returns an arbitrarily chosen element from the set

---



---